
/* ----------------------------------------------------------------

	extras.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Extra Styles
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here extra styles for demo. Thanks!
-----------------------------------------------------------------*/

.contact {
	.contact-email {
		font-size: 2.25rem;
		font-family: $heading-font;
		font-weight: 400;
		color: $primary;
		line-height: 4rem;
		margin-bottom: 0;
	}

	.contact-title {
		font-size: $h1-font-size;
		font-family: $body-font;
		font-weight: 800;
		color: $secondary;
		line-height: 4rem;
	}
}

.feedback {
	input {
		background-color: #2e2e2e;
	}

	button {
		background-color: #2e2e2e;
		
		i {
			font-size: 1.25rem;
			line-height: 1.5rem;
		}
	}
}

.error-404 {
	h2 {
		color: $primary;
		font-size: 3rem;
		line-height: 4rem;
		font-family: $heading-font;
		font-weight: 400;
		margin-bottom: 0;
	}
	
	p {
		color: #2f363a;
		font-size: 1.3125rem;
		font-family: 'Segoe UI';
		font-weight: 300;
		line-height: 2.5rem;
		margin-bottom: 0;
	}
	
	span {
		color: $primary;
		font-size: 1.125rem;
		font-family: 'Segoe UI';
		font-weight: 300;
		line-height: 2.5rem;
	}
}