/*-----------------------------------------------------------------------------------
	utilities.scss
-----------------------------------------------------------------------------------*/


//-------------------- Fonts --------------------//

// Font Family
.body-font { font-family: $body-font !important; }
.heading-font { font-family: $heading-font !important; }

// Font Weight
.fw-semi-bold { font-weight: 600 !important; }
.fw-bold { font-weight: 700 !important; }

// Text Color
.text-black { color: #000 !important; }
.text-theme { color: $theme-color!important;}


//-------------------- Image --------------------//

img {
	&.img-full {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;

		&.img-pos-left {
			object-position: left;
		}

		&.img-pos-right {
			object-position: right;
		}
	}
}


//-------------------- Section ------------------//

section {
	margin-bottom: $section-spacer;
	&#our-desingers {
		padding: $section-spacer 0;
	}
	&#choose {
		margin-top: -1.3px;
	}
	&#member-details,&#single-post {
		margin-top: 15vh;
	}
}
.normal-margin {
	margin-top: 1.1*$header-height;
}

//-------------------- Nav ------------------//
.nav-tabs,
.nav-pills {
	border-bottom: 0;
	margin-bottom: 1rem;

	.nav-link {
		font-size: 1.125rem;
		font-weight: 700;
		border-top: 0;
		border-left: 0;
		border-right: 0;
	}
}

//-------------------- Accordion ------------------//
.accordion-header {
	margin-bottom: 0;
}

.accordion-button {
	font-family: $body-font;
	font-size: 1rem;
	font-weight: 600;
}

.accordion-body {
	padding-top: 0;
}

.accordion-item {
	margin-bottom: 0.5rem;
	overflow: hidden;
}


//-------------------- Grid ------------------//

.row-add {
	display: flex;
	flex-wrap: wrap;
	.col-add-1 {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		@include media-breakpoint-up (xl) {
			width: 51.45%;
		}
	}
	.col-add-2 {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		@include media-breakpoint-up (xl) {
			width: 48.55%;
		}
	}
	.col-add-3 {
		width: 100%;
		display: block;
		flex-wrap: wrap;
		@include media-breakpoint-up (xl) {
			width: 37.95%;
			display: flex;
		}
	}
	.col-add-4 {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		@include media-breakpoint-up (xl) {
			width: 62.05%;
		}
		.ads {
			.ads-body {
				h2 {
					font-size: 3rem;
				}
				h4 {
					font-family: $body-font;
					font-size: 1.5rem;
				}
				a {
					font-family: $body-font;
				}
				div {
					margin-top: 13rem;
				}
			}
		}
	}
}

//-------------------- Pagination ------------------//
.pagination {
	.page-item {
		margin-left: 0.5rem;

		&.prev {
			.page-link {
				&::before {
					content: url("data:image/svg+xml,%3Csvg width='5' height='8' viewBox='0 0 11 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.8999 1L0.899902 10L9.8999 19' stroke='%23302f2d' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
					margin-right: 0.625rem;
				}

				&:hover::before {
					content: url("data:image/svg+xml,%3Csvg width='5' height='8' viewBox='0 0 11 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.8999 1L0.899902 10L9.8999 19' stroke='%23ffffff' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
				}
			}
		}

		&.next {
			.page-link {
				&::after {
					content: url("data:image/svg+xml,%3Csvg width='5' height='8' viewBox='0 0 11 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.899902 1L9.8999 10L0.899902 19' stroke='%23302f2d' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
					margin-left: 0.625rem;
				}

				&:hover::after {
					content: url("data:image/svg+xml,%3Csvg width='5' height='8' viewBox='0 0 11 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.899902 1L9.8999 10L0.899902 19' stroke='%23ffffff' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
				}
			}
		}

		.page-link {
			line-height: 1;
			position: relative;

			@include border-radius($pagination-border-radius);
		}
	}
}

//-------------------- Bootstrap Slider ------------------//
.slider.slider-horizontal {
	width: 100%;
	.slider-track {
		height: 5px;
	}
}
.slider-track {
	background-color: #f5f5f5;;
	background-image: none;
	@include box-shadow(none);
}
.slider-selection,
.slider-handle {
	background-color: $theme-color;
	background-image: none;
	@include box-shadow(none);
}
.slider-handle {
	width: 14px;
	height: 14px;
}