
/*-----------------------------------------------------------------------------------

	Shortcodes: icon-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Icon Box Styles
-----------------------------------------------------------------*/


.icon-box {
	margin-bottom: 0.75rem;
	line-height: 1;

	.icon-wrapper {
		width: 3%;
		i {
			color: $theme-color;
			font-size: 1.25rem;
		}
	}

	.icon-header {
		font-size: 0.875rem;
	}
}